{:min-bb-version "0.4.0"
 :paths ["script"]
 :tasks {
         ensure-rust-bits {:task ensure-rust-bits/-main}
         ensure-tree-sitter {:depends [ensure-rust-bits]
                             :task ensure-tree-sitter/-main}
         fetch-cljd-code {:task fetch-cljd-code/-main}
         gen-clru-list {:task gen-clru-list/-main}
         gen-parser-src {:depends [ensure-tree-sitter]
                         :task gen-parser-src/-main}
         parse-cljd-code {:depends [ensure-tree-sitter
                                    fetch-cljd-code]
                          :task parse-cljd-code/-main}
         show-expected-failures {:depends [ensure-tree-sitter]
                                 :task show-expected-failures/-main}
         }}
